name: Build Capacitor Android App

on:
  workflow_run:
    workflows: ["Lint & Test"]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 18.18
        cache: "npm"
    - run: npm install
    - run: npx nx export tasks-client
    - run: npx nx cap:sync tasks-client
    - run: npx nx cap:update tasks-client
    - run: npx nx cap:update tasks-client
    - uses: actions/setup-java@v2
      with:
        java-version: 11
    - run: frontend/tasks-client/android/gradlew -p frontend/tasks-client/android assembleDebug
