name: Lint & Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18.18
          cache: "npm"
      - run: npm ci
      - run: npx nx run-many -t prettier:check

  unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18.18
          cache: "npm"
      - run: npm ci
      - run: npx nx run-many -t test

  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.9"
          cache: "pip"
      - run: pip install -r requirements.txt
      - run: pytest

  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.9"
          cache: "pip"
      - run: pip install -r requirements.txt
      - run: black backend
